*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .wrapper{
    max-width: 1200px;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .title:link{
    color: black;
    text-decoration: none;
  }
  
  .title:visited{
    color: black;
    text-decoration: none;
  }
  
  .title:hover{
    color: black;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
    margin: 0;
    font-size: 1.5em;    
    
  }
  
  .navbar a{
    text-decoration: none;
    margin: 0 5px
  }
  
  .navbar a:visited{
    text-decoration: none;
    color: inherit;
  }
  
  .navbar a:hover{
    text-decoration: none;
    color: inherit;
  }
  
  .post{
    margin: 20px 0;
    border: 1px lightgrey solid;
    text-align: right;
  }
  
  .post-title{
    background-color: lightgrey;
    padding: 15px;
    margin-top: 0;
    text-align: left;
  }
  
  .post-title a:link{
    color: #617ab7;
    text-decoration: none;
  }
  
 
  .post-title a:hover{
    text-decoration: none;
    color: rgb(38, 13, 179);
  }
  
  .post-content{
    padding: 10px;
    text-align: left;
  }
  
  .post-button{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .post-author{
    color: rgb(38, 13, 179);
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .post-username{
    font-weight: bold;
  }   
    
  .form-row{
    margin-bottom: 20px;
  }
  
  .signup{
    margin-top: 20px;
  }
  
  .signup-form div{
    margin-bottom: 20px;
  }
  
  .login-form div{
    margin-bottom: 20px;
  }  
  
  .single-post-container{
    margin-top: 20px;
  }
  
 
  .new-post-button{
    margin: 20px 0;
  }
  
